<!doctype html>
<html>
<head>
    <title>CS Flash Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.0.0/styles/default.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='card.css') }}" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <br/>
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ url_for('index') }}">CS Flash Cards</a>

                        <ul class="nav navbar-nav navbar-right">
                            {% if not session.logged_in %}
                                <li><a href="{{ url_for('login') }}">log in</a></li>
                                <li><a href="{{ url_for('general') }}">general</a></li>
                                <li><a href="{{ url_for('code') }}">code</a></li>
                            {% else %}
                                <li><a href="{{ url_for('add_card') }}">add card</a></li>
                                <li><a href="{{ url_for('cards') }}">cards</a></li>
                                <li><a href="{{ url_for('general') }}">general</a></li>
                                <li><a href="{{ url_for('code') }}">code</a></li>
                                <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                                <li><a href="{{ url_for('logout') }}">log out</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

                {% for message in get_flashed_messages() %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js" defer></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.0.0/highlight.min.js" async onload="document.querySelectorAll('pre code').forEach((block) => {hljs.highlightBlock(block);});"></script>
    
    <script src="{{ url_for('static', filename='fastclick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='general.js') }}"></script>
</body>
</html>
